*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 18px;
}
header{
    background-color: aqua;
}
button{
    background-color: blue;
    color: white;
    border: solid 0px;
    padding: 15px 20px;
}
section{
    line-height: 60px;
    width: 30%;
    margin: 0 auto;
}